.snd{
  position: fixed;
  top: 0px;
  background-color: #1ce7e7;
  height: 60px;
  width: 100%;
  padding: 20px;


}
.jk{
  color: chocolate;
  padding: 30px 20px 20px 10px;
}
.Empform{
  margin-top: 70px;
  text-align: center;
}
.Editform{
  margin-top:70px; 
  text-align: center;
}
.border{
  margin: 10px;
}
